
<div class="card">
    <div *ngIf="traffic" class="progress loop" style="font-size: 1px;"><progress></progress></div>
    <div class="card-header">
        {{objectLine}}
    </div>
    <div class="card-block">
        
        <div class="row">
            <div class="col-xs">
                <ngx-charts-bar-horizontal
                [view]="view"
                [scheme]="colorScheme"
                [results]="data"
                [gradient]="gradient"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [legend]="showLegend"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabel"
                (select)="onSelect($event)">
              </ngx-charts-bar-horizontal>
            </div>
        </div>
      </div>
    <div class="card-footer">
        <button class="btn btn-sm btn-link" (click)="onReload()">Reload</button>
    </div>
</div>